# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/

# Environment Variables
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# Frontend
.vite/

# Docker
*.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.freebuff/
