# ==========================
# Dolphin Flow Backend .ev.example
# ==========================

DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=dolphinflow
DB_USER=dolphin
DB_PASSWORD=change_me
DB_HOST=127.0.0.1
DB_PORT=5432

TZ=Asia/Tehran
